/* Base styles */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    transition: .5s ease;
}

input {
    border: none;
    outline: none;
}

body {
    background-color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-flex;
}

li {
    display: inline-flex;
    list-style: none;
}

span {
    font-family: inherit;
}

body {
    overflow-x: hidden;
}

.container {
    max-width: 1182px;
    margin: 0 auto;
    padding: 0 20px;
}

.block-title {
    color: #7A2225;
    font-size: 22px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.22px;
    text-transform: uppercase;
}

/* Header */
.header {
    padding: 6px 0;
    background: linear-gradient(90deg, #792124 1.18%, #C34447 97.43%);
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Shojumaru', cursive;
    background: linear-gradient(90deg, #F6E628 4%, #F4CC1C 99.91%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 37.06px;
    font-weight: 900;
    line-height: 116%;
    text-transform: uppercase;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 90px;
}

.nav__list-item {
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    line-height: 124.2%;
    text-transform: uppercase;
}

/* Promo */

.promo {
    background: url('../img/promo/bg.png') center top;
    height: 855px;
    overflow: hidden;
}

@media (min-width: 1920px) {
    .promo {
        background: url('../img/promo/bg.png') center top / cover no-repeat;
    }
}

.promo .container {
    position: relative;
    max-width: 1142px;
    height: inherit;
    padding: 0;
}

.tiger {
    position: absolute;
    left: 0;
    top: 106px;
    z-index: 2;
}

.promo__banner {
    padding: 140px 90px 100px 90px;
    width: 593px;
    height: 593px;
    position: absolute;
    top: 129px;
    right: 194px;
    border-radius: 593px;
    background: rgba(255, 255, 255, 0.39);
    backdrop-filter: blur(27.5px);
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 38px;
    text-align: center;
}

.promo__banner-title {
    color: #7A2225;
    font-size: 46.56px;
    font-weight: 800;
    line-height: 116%;
    text-transform: uppercase;
}

.promo__banner-descr {
    color: #555;
    font-size: 20px;
    font-weight: 300;
    line-height: 118.5%;
}

.promo__banner-button {
    display: block;
    margin: 0 auto;
    width: 172.974px;
    height: 57.734px;
    border-radius: 14.899px;
    background: linear-gradient(92deg, #7A2125 -12.66%, #FF596C 126.91%);
    color: #FFF;
    text-shadow: 0px 0.9312000274658203px 0px rgba(0, 0, 0, 0.10);
    font-size: 18.624px;
    font-weight: 600;
    line-height: 35.386px;
    letter-spacing: 0.186px;
    text-transform: uppercase;
}

.coin {
    position: absolute;
    z-index: 3;
}

.coins-3 {
    top: 33px;
    left: 388px;
}

.coins-2 {
    right: 0;
    bottom: 33px;
}

.coin-1 {
    right: 0;
    top: 229px;
}

/* Games */

.games {
    margin-top: 89px;
}

.games__banner {
    margin-top: 32px;
    width: 100%;
    height: 173px;
    border-radius: 32px;
    background: url('../img/games/banner_bg.png') center center / cover no-repeat;
    position: relative;
}

.games__banner img {
    position: absolute;
    z-index: 1;
}

.top-1 {
    left: 43px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3 !important;
}

.cup {
    left: 180px;
    bottom: 0;
}

.coins {
    left: 439px;
    bottom: -10px;
}

.banner__tiger {
    right: 64px;
    bottom: 0;
    z-index: 3 !important;
}


.games__block {
    margin-top: 22px;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(50px , 172px));
    grid-auto-rows: 172px;
    gap: 22px;
}

.game-item {
    width: 100%;
    height: 100%;
}

@media (max-width: 500px) {
    .games__block { 
        grid-template-columns: repeat(2 , 1fr);
        grid-auto-rows: 1fr;
        justify-content: center;
    }
}

/* Faq */

.faq {
    margin-top: 173px;
}

.faq .container {
    position: relative;
}

.collapse {
    position: relative;
    z-index: 10;
    max-width: 755px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.collapse__block {
    border-radius: 7px;
    background: #DF4C5C;
    max-height: 38px;
    transition: .5s ease;
    padding: 0 14px;
    padding-top: 6px;
    padding-bottom: 0;
}
.collapse__block:last-child {
    max-height: 66px;
}

.collapse__block.active {
    max-height: 400px;
    transition: .5s ease;
    padding-bottom: 11px;
}

.collapse__block.active .collapse__block-trigger {
    transform: rotate(-180deg);
}

.collapse__block.active .collapse__block-answer {
    opacity: 1;
    z-index: 1;
}

.collapse__block-line {
    max-height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: inherit;
}

.collapse__block-title {
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    line-height: 27.5px;
    letter-spacing: 0.22px;
    text-transform: uppercase;
}

.collapse__block-trigger {
    cursor: pointer;
    transition: .5s ease;
    position: relative;
    z-index: 10;
    height: fit-content;
}

.collapse__block-answer {
    position: relative;
    margin-top: 26px;
    max-width: 754px;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.18px;
    transition: .5s ease;
    opacity: 0;
    z-index: -1;
}

.faq__coins {
    position: absolute;
    right: 0;
    bottom: 0;
}

/* Blur-block */

.blocks-wrapper-blur {
    margin-top: 140px;
    background: url('../img/bottom-bg.png') center center / cover no-repeat;
}

/* Rewiews */

.rewiews-title {
    color: #DF4C5C;
}

.rewiew {
    margin-top: 46px;
    border-radius: 10px;
    border: 3px solid #DF4C5C;
    padding: 20px 38px 30px;
    position: relative;
    z-index: 3;
    color: #DF4C5C;
}

.rewiew-first {
    margin-top: 32px;
}

.rewiew__data {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.rewiew__name {
    font-size: 20px;
    font-weight: 900;
    line-height: normal;
}

.rewiew__date, .rewiew__text {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 300;
    line-height: 120%;
}

.rewiew__text {
    margin-top: 46px;
    font-size: 20px;
    position: relative;
    z-index: 5;
}

/* Сщтефсеы */

.contacts {
    /* padding: 130px 0 120px; */
    margin-top: 130px;
}

.contacts-title {
    color: #DF4C5C;
}

.mail {
    margin-top: 32px;
    color: #2F2F2F;
    font-size: 22px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.22px;
    text-decoration-line: underline;
}

/* Footer */

.footer {
    margin-top: 265px;
    padding-bottom: 200px;
    color: #272727;
}

.footer__text, .footer__warning {
    font-size: 14px;
    font-weight: 300;
    line-height: 166.2%;
}

.footer__warning {
    margin-top: 30px;
    position: relative;
    margin-left: 41px;
}

.footer__warning::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -41px;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    background: url('../img/footer/18.svg');
}

.popup {
    transition: 1s all ease;
    display: none;
    position: fixed;
    width: 90vw;
    height: 90vh;
    transform: translate(-50%, -0%);
    top: 0%;
    left: 50%;
    z-index: 3;
    background: #ffffff;
    flex-direction: column;
    padding: 1rem;
    border-radius: 8px;
}
  
.popup.active {
    display: flex;
}

.popup__cross {
    background: url("../img/popup/cross.png");
    background-size: cover;
    background-repeat: no-repeat;
    align-self: flex-end;
    width: 20px;
    margin-bottom: 1rem;
    height: 20px;
    cursor: pointer;
}
  
.popup-wrap {
    z-index: 3;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.popup-wrap.active {
    display: flex !important;
    z-index: 33;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
}

.popup.open {
    animation: open 0.2s ease;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.popup.close {
    animation: close 0.2s ease;
}

@keyframes open {
    0% {
        transform: translate(-50%, -0%);
        top: -100%;
        left: 50%;
    }

    100% {
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
}
}

@keyframes close {
    0% {
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }

    100% {
        transform: translate(-50%, -0%);
        top: -100%;
        left: 50%;
    }
}

.popup__cross:hover {
    background: url("../img/popup/cross.png");
    background-size: cover;
    background-repeat: no-repeat;
    align-self: flex-end;
    width: 20px;
    margin-bottom: 1rem;
    height: 20px;
    cursor: pointer;
}

.iframe {
    background: #ffffff;
    width: 100%;
    height: 100%;
}

@media (max-width: 1100px) {
    .promo .container {
        position: static;
    }
    .tiger {
        left: -80px;
    }
    .promo__banner {
        right: -80px;
    }
    .coins-3 {
        left: 308px;
    }
    .coin-1, .coins-2, .coins {
        display: none;
    }
    .banner__tiger {
        right: 0;
    }
}

@media (max-width: 1010px) {
    .nav {
        display: none;
    }
    .header__wrapper {
        justify-content: center;
    }
    .faq__coins {
        display: none;
    }
}

@media (max-width: 900px) {
    .faq {
        margin-top: 131px;
    }
    .footer {
        margin-top: 142px;
        padding-bottom: 261px;
    }
}

@media(max-width: 777px) {
    .container {
        padding: 0 15px;
    }
    .logo {
        font-size: 30px;
    }
    .promo .container {
        position: relative;
    }
    .promo__banner, .coins-3 {
        left: 50%;
        transform: translateX(-50%);
    }
    .promo__banner {
        padding: 128px 80px 108px 80px;
        top: 158px;
        width: 544.873px;
        height: 544.873px;
        border-radius: 544.873px;
        text-align: left;
        gap: 30px;
    }
    .promo__banner-title {
        font-size: 42.781px;
    }
    .promo__banner-descr {
        font-size: 18.377px;
    }
    .promo__banner-button {
        margin: 0 auto 0 0;
    }
    .coins-3 {
        top: 36px;
    }
    .tiger {
        width: 219px;
        height: 325px;
        right: 0;
        left: auto;
        top: auto;
        bottom: 40px;
    }
    .games {
        margin-top: 60px;
    }
    .top-1 {
        left: 19px;
        top: -4px;
        width: 200px;
        height: 98px;
        transform: none;
    }
    .banner__tiger {
        width: 265px;
        height: 132px;
    }
    .cup {
        width: 182px;
        height: 137px;
        left: 6px;
        bottom: 0;
    }
    .rewiew {
        padding: 20px;
    }
    .faq {
        margin-top: 104px;
    }
    .collapse {
        gap: 22px;
    }
    .collapse__block {
        max-height: 47px;
        padding: 6px 7px;
    }
    .collapse__block-title {
        font-size: 16px;
        line-height: 17px;
    }
    .collapse__block-answer {
        margin-top: 15px;
        font-size: 14px;
        line-height: 17px;
    }
    .blocks-wrapper-blur, .contacts {
        margin-top: 104px;
    }
    .footer {
        margin-top: 124px;
    }
}

@media (max-width: 405px) {
    .promo__banner {
        padding-left: 105px;
    }
    .promo__banner-title {
        font-size: 38px;
    }
}
